
body {
  margin: 0;
  font-family: robotoslab;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(53, 53, 53);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.menu_box{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 100px;
  background-image: radial-gradient( circle farthest-corner at 10% 20%, rgba(0,221,214,1) 0%, rgba(51,102,255,1) 90% );
  background-color: #ffffffed;
  padding: 3%;
  opacity: 0.9;
  border-radius: 25px;
}

.heading{
  font-family: franchise;
  font-size: 60px !important;
}

.navbar{
  box-shadow: inset 0px -2px 2px 2px #08080845;
}

h1{
  text-transform: uppercase;
  color: white;
  font-size: 42px;
}

.inst_image{
  width: 200px;
  display: block;
  margin: auto;
  opacity: 0.7;
}

.inst_text span{
  font-size: xx-large;
  background: white;
  padding: 3px;
  border-radius: 2px;
}

.inst_head{
  text-align: center;
  font-size: 24px !important;
  color: #2c2c2c;
  text-transform: uppercase;
}

h3{
  text-align: center;
  color: #ffffffa8;
  font-size: 32px;
}
